<div class="container">
  <div class="row">
	  <div class="span12">
	  	<div class="light-content">
	  		<h2>Por quê você vai se interessar pelo Corretor Atento</h2>
	 			<hr> 
				<div class="row">
				  <div class="span6">
				    <%= link_to image_tag('cloud.png', :width => "380px", :height => "260px"), root_path %>	
				  </div>
				  <div class="span5 features">
				  	<h2>Interface fácil de usar</h2> 
				    <p>Corretor Atento é uma experiência simples para controlar a sua carteira de clientes</p>
				    <p>Nossa interface limpa e intuitiva permite que você facilmente e rapidamente importe e controle todos os pagamentos.
						</p>
				  </div>
				</div>
	  	  <hr>   
				<div class="row">
		      <div class="span6 features">
		      	<h2>Uma maneira melhor de se organizar</h2>  
				    <p>Corretor Atento é uma experiência simples para controlar a sua carteira de clientes</p>
				    <p>Nossa interface limpa e intuitiva permite que você facilmente e rapidamente importe e controle todos os pagamentos.
						</p>
		      </div>
					<div class="span5">
					  <%= link_to image_tag('cloud.png', :width => "380px", :height => "260px"), root_path %>		
					</div>
				</div>
				<hr>
				<div class="row">
				  <div class="span6">
				    <%= link_to image_tag('suitcase.jpg', :width => "380px", :height => "260px"), root_path %>	
				  </div>
				  <div class="span5 features">
				  	<h2>Organizar todos os seus dados</h2> 
				    <p>É necessário organizar toda sua carteira de clientes?</p>
				    <p>Quer testar ou mudar para um aplicativo que vai controlar tudo pra você?</p>
				    <p>Nossa interface limpa e intuitiva permite que você facilmente e rapidamente importe e controle todos os pagamentos.
						</p>
				  </div>
				</div>
	  	  <hr>   
				<div class="row">
		      <div class="span6 features">
		      	<h2>Preços que fazem sentido</h2>  
						<p>Se você é sério sobre como fazer a sua mídia com bom aspecto, mas não quer centenas de imagens de apoio espalhados por toda a sua coleção de vídeo, enviá-los para nós!</p>
						<p>Teremos prazer em ajudá-lo a guardar seus cartazes personalizados, banners, imagens de episódios, e cenários na nuvem e deixá-lo com mais espaço para os vídeos.</p>
		      </div>
					<div class="span5">
					  <%= link_to image_tag('pricetag.jpg', :width => "380px", :height => "260px"), root_path %>		
					</div>
				</div>
				<hr>
				<div class="row">
				  <div class="span6">
				    <%= link_to image_tag('laptop-cloud.jpg', :width => "380px", :height => "260px"), root_path %>	
				  </div>
				  <div class="span5 features">
				  	<h2>Confiável e seguro</h2> 
				    <p>Corretor Atento é uma experiência simples para controlar a sua carteira de clientes</p>
				    <p>Nossa interface limpa e intuitiva permite que você facilmente e rapidamente importe e controle todos os pagamentos.
						</p>
				  </div>
				</div>
	  	  <hr>   
	
	    </div>
	  </div>
  </div>	
	<div class="row">
	</div>
</div>