<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @extract_weekly.user %>
</p>

<p>
  <b>Name:</b>
  <%= @extract_weekly.name %>
</p>

<p>
  <b>Registration:</b>
  <%= @extract_weekly.registration %>
</p>

<p>
  <b>Series:</b>
  <%= @extract_weekly.series %>
</p>

<p>
  <b>Proposal:</b>
  <%= @extract_weekly.proposal %>
</p>

<p>
  <b>Code beneficiary:</b>
  <%= @extract_weekly.code_beneficiary %>
</p>

<p>
  <b>Plan:</b>
  <%= @extract_weekly.plan %>
</p>

<p>
  <b>Number quota:</b>
  <%= @extract_weekly.number_quota %>
</p>

<p>
  <b>Value contribution:</b>
  <%= @extract_weekly.value_contribution %>
</p>

<p>
  <b>Commission percentage:</b>
  <%= @extract_weekly.commission_percentage %>
</p>

<p>
  <b>Commission value:</b>
  <%= @extract_weekly.commission_value %>
</p>

<p>
  <b>Period initial:</b>
  <%= @extract_weekly.period_initial %>
</p>

<p>
  <b>Period final:</b>
  <%= @extract_weekly.period_final %>
</p>


<%= link_to 'Edit', edit_extract_weekly_path(@extract_weekly) %> |
<%= link_to 'Back', extract_weeklies_path %>
