<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="light-content">
        <h2>Registrar</h2>
        <hr>
        <div class="row-fluid">    
					<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "simple_form form-horizontal SigninForm AuthForm"}) do |f| %>
					  <%= devise_error_messages! %>     
					  <fieldset>  
              <div class="control-group email optional">
                <%= f.label :cpf_cnpj, "CPF/CNPJ",  :class => "email optional" %>
                <div class="controls">
                  <%= f.text_field :cpf_cnpj, :class => "string email optional input-xlarge" %>
                </div>
              </div>
						
              <div class="control-group email optional">
                <%= f.label :username, :class => "email optional" %>
                <div class="controls">
                  <%= f.text_field :username, :class => "string email optional input-xlarge" %>
                </div>
              </div>

              <div class="control-group email optional">
                <%= f.label :email, :class => "email optional" %>
                <div class="controls">
                  <%= f.email_field :email, :class => "string email optional input-xlarge" %>
                </div>
              </div>         

              <div class="control-group email optional">
                <%= f.label :password, :class => "email optional" %>
                <div class="controls">
                  <%= f.password_field :password, :class => "string email optional input-xlarge" %>
                </div>
              </div>

              <div class="control-group email optional">
                <%= f.label :password_confirmation, :class => "email optional" %>
                <div class="controls">
                  <%= f.password_field :password_confirmation, :class => "string email optional input-xlarge" %>
                </div>
              </div>  
 							<%= f.hidden_field :status, :value =>  "Inativo" %>    
 							<%= f.hidden_field :plan_id, :value =>  params[:type_plan] %>    
 							<%= f.hidden_field :administrator, :value =>  false %>    

              <div class="control-group">
                <label class="control-label">Selecione o plano</label>		
								<div class="controls">
									<label class="radio">
										<%= radio_button("users", "plan_id", "4", options = {:checked => type_plan_selected(4)})  %>
										<span rel="popover" data-content="Copper pass lets you input metadata for up to 100 episodes. Use this if you're just starting to organize your media collection." data-original-title="Just starting out?">
										<span class="label label-info"> Ilimitado / R$ 300,00 </span>
										<span style="color:#08C; margin-left: 10px;"> Ouro</span>
										</span>
									</label>
									<label class="radio">
										<%= radio_button("users", "plan_id", "3", options = {:checked => type_plan_selected(3)})  %>
										<span rel="popover" data-content="Copper pass lets you input metadata for up to 100 episodes. Use this if you're just starting to organize your media collection." data-original-title="Just starting out?">
										  <span class="label label-info"> Entre 100 e 300 Clientes / R$ 200,00 </span>
										  <span style="color:#08C; margin-left: 10px;"> Prata</span>
										</span>
									</label>
									<label class="radio">
										<%= radio_button("users", "plan_id", "2", options = {:checked => type_plan_selected(2)})  %>
										<span rel="popover" data-content="Copper pass lets you input metadata for up to 100 episodes. Use this if you're just starting to organize your media collection." data-original-title="Just starting out?">
										  <span class="label label-info"> Até 100 Clientes / R$ 100,00 </span>
										  <span style="color:#08C; margin-left: 10px;"> Bronze</span>
										</span>
									</label>   
									<label class="radio">                       
										<%= radio_button("users", "plan_id", "1", options = {:checked => type_plan_selected(1)})  %>
										<span rel="popover" data-content="Copper pass lets you input metadata for up to 100 episodes. Use this if you're just starting to organize your media collection." data-original-title="Just starting out?">
										<span class="label label-info"> Ilimitado - 30 dias / Grátis </span>
										<span style="color:#08C; margin-left: 10px;"> Degustação</span>
										</span>
									</label>                                          
								</div>
              </div>   

							<div class="control-group"> 
								<div class="controls">   
									<%= f.label :terms_of_service, :class => "checkbox" do  %>  
									  <%= f.check_box :terms_of_service %>
									  <small>Eu concordo com os
										  <%= link_to "Termos dos serviços", root_path, :target => "_new" %><br/>
										  e com a 
										  <%= link_to "Politica de privacidade", root_path , :target => "_new" %> 
											do Corretor Atento.
										</small>	
									<% end %>
								</div>
							</div>
									
              <div class="controls">
								<%= f.submit "Salvar", :class => "btn btn-large btn-primary" %>
							</div>
					  </fieldset>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>				

<% render "devise/shared/links" %>
