<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div class="light-content">  
				<h2>Alterar senha</h2>

				<%= form_for(@user, :url => update_password_path(@user), :html => { :method => :put }) do |f| %>   
				  <fieldset>
					  <div class="control-group string optional">
              <%= f.label :password, :class => "string optional" %>
              <div class="controls">
                <%= f.password_field :password, :class => "input-xlarge" %>
              </div>
            </div>   

					  <div class="control-group string optional">
              <%= f.label :password_confirmation, :class => "string optional" %>
              <div class="controls">
                <%= f.password_field :password_confirmation, :class => "input-xlarge" %>
              </div>
            </div>  

						<%= f.submit "Alterar senha", :class => "btn btn-large btn-primary" %> 
            
					</fieldset>
				<% end %>
			</div>
		</div>
	</div>
</div>