<%= form_for(@extract_monthly) do |f| %>
  <% if @extract_monthly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extract_monthly.errors.count, "error") %> prohibited this extract_monthly from being saved:</h2>

      <ul>
      <% @extract_monthly.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :registration %><br />
    <%= f.number_field :registration %>
  </div>
  <div class="field">
    <%= f.label :series %><br />
    <%= f.number_field :series %>
  </div>
  <div class="field">
    <%= f.label :proposal %><br />
    <%= f.number_field :proposal %>
  </div>
  <div class="field">
    <%= f.label :code_beneficiary %><br />
    <%= f.number_field :code_beneficiary %>
  </div>
  <div class="field">
    <%= f.label :plan %><br />
    <%= f.number_field :plan %>
  </div>
  <div class="field">
    <%= f.label :number_quota %><br />
    <%= f.number_field :number_quota %>
  </div>
  <div class="field">
    <%= f.label :value_contribution %><br />
    <%= f.text_field :value_contribution %>
  </div>
  <div class="field">
    <%= f.label :commission_percentage %><br />
    <%= f.text_field :commission_percentage %>
  </div>
  <div class="field">
    <%= f.label :commission_value %><br />
    <%= f.text_field :commission_value %>
  </div>
  <div class="field">
    <%= f.label :period_initial %><br />
    <%= f.datetime_select :period_initial %>
  </div>
  <div class="field">
    <%= f.label :perido_final %><br />
    <%= f.datetime_select :perido_final %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
