<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @extract_monthly.user %>
</p>

<p>
  <b>Name:</b>
  <%= @extract_monthly.name %>
</p>

<p>
  <b>Registration:</b>
  <%= @extract_monthly.registration %>
</p>

<p>
  <b>Series:</b>
  <%= @extract_monthly.series %>
</p>

<p>
  <b>Proposal:</b>
  <%= @extract_monthly.proposal %>
</p>

<p>
  <b>Code beneficiary:</b>
  <%= @extract_monthly.code_beneficiary %>
</p>

<p>
  <b>Plan:</b>
  <%= @extract_monthly.plan %>
</p>

<p>
  <b>Number quota:</b>
  <%= @extract_monthly.number_quota %>
</p>

<p>
  <b>Value contribution:</b>
  <%= @extract_monthly.value_contribution %>
</p>

<p>
  <b>Commission percentage:</b>
  <%= @extract_monthly.commission_percentage %>
</p>

<p>
  <b>Commission value:</b>
  <%= @extract_monthly.commission_value %>
</p>

<p>
  <b>Period initial:</b>
  <%= @extract_monthly.period_initial %>
</p>

<p>
  <b>Perido final:</b>
  <%= @extract_monthly.perido_final %>
</p>


<%= link_to 'Edit', edit_extract_monthly_path(@extract_monthly) %> |
<%= link_to 'Back', extract_monthlies_path %>
